body{
margin:0;
padding:0;
}

#headwrap{
width:100%;
height:85px;
background-color:black;
}

#contentwrap{
width:100%;
height:650px;
background-color:black;
}

#footerwrap{
width:100%;
height:100px;
background-color:black;
}

#header{
margin:0 auto;
width: 90%;
height:85px;
background-color:black;
}

#content{
margin:0 auto;
width:90%;
height:650px;
background-color:white;
}

#footer{
margin:0 auto;
width:90%;
height:100px;
background-color:black;
}

#logo{
height:84px;
width:355px;
}

#left-side{
height:650px;
width:50%;
float:left;
background-image: url("collage.jpg");
}

#right-side{
height:650px;
width:50%;
float:left;
background-color:brown;
}

#login{
margin:0 auto;
list-style-type: none;
padding: 15px;
margin-top:110px;
height:400px;
width:355px;
background-color:black;
border:1px solid #282828;
border-radius:7px;
}

#rleft{
height:650px;
width:65%;
float:left;
overflow:hidden;
background-color:white;
overflow:scroll;
}

#rhead{
height:70px;
width:100%;
padding-top:5px;
padding-left:15px;
padding-right:15px;
background-color:#FFFFCC;
}

#rright{
height:650px;
width:35%;
float:left;
padding-left:20px;
padding-right:20px;
overflow:scroll;
background-color:brown;
}